<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="update" method="post">
		<input type="text" name="train_number"><br> <input
			type="text" name="train_name"><br> <input type="text"
			name="departure_station"><br> <input type="text"
			name="arrival_station"><br> <input type="text"
			name="departure_time"> <br> <input type="text"
			name="arrival_time"> <br> <input type="number"
			name="seat_capacity"><br> <input type="number"
			name="ticket_price"><br>
		<button>Submit</button>
	</form>
</body>
</html>